{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>KVRA foi criada no ano de 2013, na cidade de São Paulo e, desde o início de suas atividades, busca oferecer um amplo catálogo de peças de vestuário e acessórios voltados para as mais diversas modalidades de esportes e estilos, priorizando o conforto, a qualidade e o design que proporcionam aos clientes uma experiência única.A KVRA acredita que a vida pode ser bem melhor e mais interessante ao buscarmos novas conexões pessoais e que as coisas mais importantes estão presentes nos detalhes e pequenos gestos. Você pode praticar esportes, surfar no mar ou no asfalto, ser um artista, um músico, tudo aquilo que quiser. Uma coisa é certa, a KVRA estará presente no seu lifestyle em todos os momentos!</p>


{% endblock %}
